## Tuples
- t1 parenthesis() li square brackets []
- Difference between list and tuples
     - list are mutable- can be changed/modified
          - used to access modify,add,delete data
      - Tuples are immutable- cannot be chanded
          - used to access data only

In [13]:
t1=(1,2,3,4,5,6)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [14]:
t1[1:5]

(2, 3, 4, 5)

## Data Structures
### Dictionaries

## Dictionaries
#### It works on the concept of set unique data
#### Keys,Values is the unique identifier for a value
#### Each key is separated from its values with colon(:)
####  Each key and value is separated by comma(,)
#### Dictionaries enclosed with curly brackets({})

In [1]:
d1={"Name":"Gitam","Emailid":"Gitam@gmail.com","Address":"Hyedrabad"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'Gitam@gmail.com', 'Address': 'Hyedrabad'}

In [2]:
d1["Name"]

'Gitam'

In [4]:
d1['Emailid']='Gitam-python@gmail.com'
d1['Emailid']

'Gitam-python@gmail.com'

In [8]:
del d1['Emailid'] #deletes the specific key value

KeyError: 'Emailid'

In [7]:
d1

{'Name': 'Gitam', 'Address': 'Hyedrabad'}

In [9]:
d1.keys() #returns the list of keys

dict_keys(['Name', 'Address'])

In [10]:
d1.values() #returns the values

dict_values(['Gitam', 'Hyedrabad'])

In [11]:
d1.items() #returns the list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyedrabad')])

### Contact Application
- Add Contact
- Search the Contact
- List all contacts
     - name1 : phone1
     - name2 : phone2
- Modify the contact
- Remove the contact
- Import the contact

In [15]:
#Add contact
contacts = {} #Creating a dict object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact details are added ")
    else:
        print("contact details are already exists")
    return
addcontact('Harini','Gitam')
addcontact('Nandhini','Gitam')
addcontact('Harini','Gitam')

contact details are added
contact details are added
contact details are already exists

In [16]:
#Search for contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists" % name)
    return
searchcontact('Harini')
searchcontact('India')
searchcontact('Nandhini')

Harini : Gitam
India does not exists
Nandhini : Gitam

In [18]:
#Import some contacts
#Merge the contacts with excisting one
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()), "contacts added successfully")
    return
newcontacts={'prabhas':9989324848,'Dhoni':9849101420}
importcontact(newcontacts)

2 contacts added successfully

In [19]:
contacts

{'Harini': 'Gitam',
 'Nandhini': 'Gitam',
 'prabhas': 9989324848,
 'Dhoni': 9849101420}

In [22]:
#Delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"delete succesfully")
    else:
        print(name,"not exists")
    return
deletecontact('Dhoni')

Dhoni delete succesfully

In [23]:
contacts

{'Harini': 'Gitam', 'Nandhini': 'Gitam', 'prabhas': 9989324848}

In [24]:
#Update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
deletecontact('Harini',9989324848)
deletecontact('ar rahman',9989765432)

Harini updated successfully
ar rahman not exists

In [25]:
contacts

{'Harini': 9989324848, 'Nandhini': 'Gitam', 'prabhas': 9989324848}

## Boolean True or False
- islower : True if  the string is lower case / Flase for all other cases
- isupper : True if  the string is uppercase /False for all other cases
- istitle : True if the string is in titlecase /False
- isalpha : True  if string contains only alphabets/False
- isnumeric : True if the contains only numbers / False
- isspace: True if the string has only space /False

In [27]:
s1='GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [28]:
s2="Python Programming"
s3="python Programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [29]:
s2="Aplication1889"
s3="PythonProgramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [31]:
s1="1234"
s2="Aplication1779"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [32]:
s1=" "
s2="Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

## String Methods
- 1.join()-- Method will concatinates the two strings
- 2.split()--Split() returns the list of strings separated by whitespace(no parameters are given)
- 3.replace()-- replaces the specific word or character with the new word or character

In [33]:
s1='Python'
print(" ".join(s1))

P y t h o n

In [34]:
s2="Harini gitam"
print(",".join(s2))

H,a,r,i,n,i, ,g,i,t,a,m

In [35]:
li=['Python','Programming','Learn']
print(','.join(li))

Python,Programming,Learn

In [36]:
s2="Python Programming Easy to learn"
print(s2.split()) #seperates each word with comma

['Python', 'Programming', 'Easy', 'to', 'learn']

In [37]:
s2="Python Programming Easy to learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to le', 'rn']

In [39]:
s2="Python Programming Easy to learn"
li=s2.split() #split the string -- list object
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [40]:
s2="Python Programming Easy to learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [42]:
s2="Python Programming Easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to learn